footer{
    background: #000;
    position: fixed;
    top: 85vh;
    width: 100vw;
    height: 15vh;
}

footer a{
    text-decoration: none;
    height: 0vh;
    position: absolute;
    top: 50%;
    left: 0;
}

.apply-button{
    position: relative;
    top: 6vw;
    left: 8vw;
    width: 80vw;
    height: 7vh;
    text-align: center;
    background: #CD2028;
    border: 2vw solid #CD2028;
    border-radius: 3vh;
}

.apply-button h1{
    color: #fff;
    font-family: 'Stardos Stencil', cursive;
    font-size: 5vh;
    width: 80vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
