.mission-indicate{
    height: 0.1vw;
    position: relative;
    top: -18vh;
}

.trailer-indicate{
    height: 0.1vw;
    position: relative;
    top: -18vh;
}

.gallery-indicate{
    height: 0.1vw;
    position: relative;
    top: -18vh;
}

.contact-indicate{
    height: 0.1vw;
    position: relative;
    top: -17vh;
}